.container{
    background-color: rgb(115, 55, 226);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    
}

.item{
    height: 60px;
    width: 60px;
    background-color: chocolate;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    flex-shrink: 5;

}